<h1>Employee List</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Firstname</th>
            <th>lastname</th>
            <th>email</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of employees">
            
            <td>{{employee.firstname}}</td>
            <td>{{employee.lastname}}</td>
            <td>{{employee.email}}</td>
            <td>
                <button (click)="updateEmployee(employee.id)" class="btn btn-info">Update</button>
                <!--  -->
            </td>

        </tr>
    </tbody>

</table>
