<nav class="navbar navbar-expand-sm  navbar-light" style="background-color: rgb(99, 202, 205);">
    <!--<div class="container-fluid"> -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a routerLink="employees" routerLinkActive="active" class="nav-link">Employee List</a>
            </li>
            <li class="nav-item">
              <a routerLink="create-employee" routerLinkActive="active" class="nav-link">Add Employee</a>
          </li>
          <li class="nav-item">
            <a routerLink="payroll-dashboard" routerLinkActive="active" class="nav-link">P.Dashboard</a>
          </li>
    
        </ul>

 <!--   </div> -->
   
</nav>

<!-- <div class="container">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"> Employee List</a>
      </div>
    </nav>
  </div> -->



<h1 class="text-center">{{title}}</h1>
<div class="container">
    <router-outlet></router-outlet>
    <!-- <app-employee-list></app-employee-list> -->

</div>



